
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: #2e9ce6;
    padding: 3em;
    font-family: 'Raleway', 'Ariel';
    color: #fff;
}


#sidebar {
  padding-bottom: 50px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}


.container {
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 10px;
}
.container col {
    padding: .4em 1.3em;
}
.container color-dark {
    background: #2885c4;
}
.container color-light {
    background: #57b3f1;
}

#myChart {
  background-color: #57b3f1;
}

#week2Chart {
  background-color: #57b3f1;
}

#week3Chart {
  background-color: #57b3f1;
}

#monthChart {
  background-color: #57b3f1;
}

.card {
  margin-left: 80px;
  background-color: #57b3f1;
}

.card-title {
  background-color: #2885c4;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  margin-top: 10px;
}
